<footer class="page-footer">
    <div class="container">
        <div class="page-footer__row">
            <div class="page-footer__logo-wrapper">
                <a href="/" class="page-footer__logo">
                    <img src="img/logo.svg" alt="" class="page-footer__logo-image">
                    <div class="page-footer__logo-text-wrapper">
                        <div class="page-footer__logo-type">
                            БЛАГОТВОРИТЕЛЬНЫЙ ФОНД
                        </div>
                        <div class="page-footer__logo-title">
                            ДЕТИ ЗЕМЛИ РУССКОЙ
                        </div>
                    </div>
                </a>
                <div class="page-footer__address">
                    Санкт-Петербург, ул.Серафимовича, д.95, оф. 1
                </div>
            </div>
            <nav class="page-footer__nav">
                <ul class="page-footer__nav-list">
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            О нас
                        </a>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Ярмарка добра
                        </a>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Наши программы
                        </a>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Новости
                        </a>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Кому помочь
                        </a>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Как помочь?
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="page-footer__contacts">
                <a href="tel:+79312799586" class="page-footer__phone">
                    8 931 279 95 86
                </a>
                <a href="mailto:help@detizemlirus.com" class="page-footer__mail">help@detizemlirus.com</a>
            </div>
            <div class="page-footer__info">
                <div class="page-footer__btns">
                    <a href="#volunteer-modal" class="btn btn--small btn--grey">
                        Стать волонтером
                    </a>
                    <a href="#" class="btn btn--small">
                        Оказать помощь
                    </a>
                </div>
                <div class="page-footer__info-bottom-row">
                    <a href="#" class="page-footer__requisites">
                        <svg width="14" height="14" aria-hidden="true" class="icon-download">
                            <use xlink:href="#download"></use>
                        </svg>
                        Реквизиты
                    </a>
                    <ul class="page-footer__social-list">
                        <li class="page-footer__social-list-item">
                            <a href="#" class="page-footer__social-link">
                                <svg width="14" height="14" aria-hidden="true" class="icon-vk">
                                    <use xlink:href="#vk"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>