<header class="page-header">
    <div class="container">
        <div class="page-header__row">
            <a href="#" class="page-header__logo">
                <img src="img/logo.svg" alt="" class="page-header__logo-image">
                <div class="page-header__logo-content">
                    <div class="page-header__logo-type">
                        БЛАГОТВОРИТЕЛЬНЫЙ ФОНД
                    </div>
                    <div class="page-header__logo-title">
                        ДЕТИ ЗЕМЛИ РУССКОЙ
                    </div>
                </div>
            </a>
            <div class="page-header__menu">
                <nav class="page-header__menu-nav">
                    <ul class="page-header__menu-nav-list">
                        <li class="page-header__menu-nav-list-item">
                            <a href="#" class="page-header__menu-nav-link">
                                О нас
                            </a>
                        </li>
                        <li class="page-header__menu-nav-list-item">
                            <a href="#" class="page-header__menu-nav-link">
                                Наши программы
                            </a>
                        </li>
                        <li class="page-header__menu-nav-list-item">
                            <a href="#" class="page-header__menu-nav-link">
                                Кому помочь
                            </a>
                        </li>
                        <li class="page-header__menu-nav-list-item">
                            <a href="#" class="page-header__menu-nav-link">
                                Ярмарка добра
                            </a>
                        </li>
                        <li class="page-header__menu-nav-list-item">
                            <a href="#" class="page-header__menu-nav-link">
                                Новости
                            </a>
                        </li>
                        <li class="page-header__menu-nav-list-item">
                            <a href="#" class="page-header__menu-nav-link">
                                Как помочь?
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="page-header__contacts">
                    <a href="tel:+79312799586" class="page-header__phone">8 931 279 95 86</a>
                    <a href="mailto:help@detizemlirus.com" class="page-header__email">help@detizemlirus.com</a>
                </div>
                <div class="page-header__btns">
                    {{#if headerBtnWhite}}
                    <a href="#volunteer-modal" class="btn btn--small btn--white page-header__btn">
                        Стать волонтером
                    </a>
                    {{else}}
                    <a href="#volunteer-modal" class="btn btn--small btn--grey page-header__btn">
                        Стать волонтером
                    </a>
                    {{/if}}
                    <a href="#" class="btn btn--small page-header__btn">
                        Оказать помощь
                    </a>
                </div>
            </div>
            <button class="page-header__burger">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </div>
</header>