{{#extend "layout"}}
{{#content "main"}}


<section class="standard-header">
    <div class="container">
        <div class="standard-header__grid">
            <div class="standard-header__breadcrumbs">
                <a href="#">
                    Главная
                </a>
                <a href="#">
                    О фонде
                </a>
            </div>
            <h1 class="standard-header__heading">
                О фонде
            </h1>
        </div>
    </div>
</section>


<section class="about-intro">
    <div class="container">
        <div class="about-intro__grid">
            <div class="about-intro__inner">
                <h2 class="about-intro__heading">
                    Благотворительный фонд «Дети земли русской» — это команда, созданная для того, чтобы менять мир
                    лучшему.
                </h2>
                <div class="about-intro__large-text">
                    <p>
                        Мы занимаемся системной благотворительностью, реализуем несколько программ, разрабатываем все
                        новые и новые проекты. Деятельность совмещает в себе:
                    </p>
                </div>
                <ul class="about-intro__activities-list">
                    <li class="about-intro__activities-list-item">
                        БЛАГОТВОРИТЕЛЬНОСТЬ
                    </li>
                    <li class="about-intro__activities-list-item">
                        ОБРАЗОВАНИЕ
                    </li>
                    <li class="about-intro__activities-list-item">
                        ПРОСВЕЩЕНИЕ
                    </li>
                </ul>
                <div class="about-intro__small-text">
                    <p>
                        Мы являемся открытыми и доступными для нуждающихся людей, а также для тех, кто хочет оказать им
                        помощь. Наша команда – это инициатива, призванная объединять совершенно разных людей для
                        оказания реальной помощи тем, кто нуждается в ней больше всего.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about-goals">
    <div class="container">
        <div class="about-goals__grid">
            <div class="about-goals__inner">
                <h2 class="about-goals__heading">
                    ЦЕЛИ ФОНДА
                </h2>
                <ul class="about-goals__list">
                    <li class="about-goals__list-item">
                        <div class="about-goals__card">
                            <div class="about-goals__card-icon">
                                <img src="img/about-goals/1.svg" alt="" class="about-goals__card-icon-image">
                            </div>
                            <div class="about-goals__card-content">
                                <h3 class="about-goals__card-title">
                                    Духовность
                                </h3>
                                <div class="about-goals__card-text">
                                    Формирование нравственных ценностей у людей.
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="about-goals__list-item">
                        <div class="about-goals__card">
                            <div class="about-goals__card-icon">
                                <img src="img/about-goals/2.svg" alt="" class="about-goals__card-icon-image">
                            </div>
                            <div class="about-goals__card-content">
                                <h3 class="about-goals__card-title">
                                    Здоровье
                                </h3>
                                <div class="about-goals__card-text">
                                    Приобщение детей и взрослых к здоровому образу жизни.
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="about-goals__list-item">
                        <div class="about-goals__card">
                            <div class="about-goals__card-icon">
                                <img src="img/about-goals/3.svg" alt="" class="about-goals__card-icon-image">
                            </div>
                            <div class="about-goals__card-content">
                                <h3 class="about-goals__card-title">
                                    Развитие
                                </h3>
                                <div class="about-goals__card-text">
                                    Внедрение культуры благотворительности среди россиян.
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="about-goals__list-item">
                        <div class="about-goals__card">
                            <div class="about-goals__card-icon">
                                <img src="img/about-goals/4.svg" alt="" class="about-goals__card-icon-image">
                            </div>
                            <div class="about-goals__card-content">
                                <h3 class="about-goals__card-title">
                                    Воспитание
                                </h3>
                                <div class="about-goals__card-text">
                                    Воспитание навыков, необходимых для жизни в обществе.
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="about-goals__remark">
                    Благотворительный фонд «Дети Земли Русской» не принадлежит к религиозным, политическим и другим
                    организациям, а также не занимается их финансированием в целях рекламы. Мы концентрируем свои силы и
                    оказываем помощь в актуальных на сегодняшний день направлениях, ищем способы решения различных
                    проблем.
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about-we-do">
    <div class="container">
        <div class="about-we-do__grid">
            <div class="about-we-do__inner">
                <h2 class="about-we-do__heading">
                    ЧТО МЫ ДЕЛАЕМ?
                </h2>
                <ol class="about-we-do__list">
                    <li class="about-we-do__list-item">
                        <div class="about-we-do__card">
                            <h3 class="about-we-do__card-title">
                                Исполняем детские мечты
                            </h3>
                            <div class="about-we-do__card-text">
                                Расти в детском доме довольно не просто. Дети, прошедшие такую «школу жизни», верят в
                                лучшее, со светом и надеждой в глазах смотрят в свое будущее. Не дадим этому огоньку
                                угаснуть! В наших силах осуществить их мечты.
                            </div>
                        </div>
                    </li>
                    <li class="about-we-do__list-item">
                        <div class="about-we-do__card">
                            <h3 class="about-we-do__card-title">
                                Воспитанием толерантность в людях
                            </h3>
                            <div class="about-we-do__card-text">
                                Благотворительность в России подразумевает безвозмездную материальную помощь. В сложную
                                ситуацию может попасть каждый, поэтому мы с трепетом относится к вопросу дружбы и
                                толерантности.
                            </div>
                        </div>
                    </li>
                    <li class="about-we-do__list-item">
                        <div class="about-we-do__card">
                            <h3 class="about-we-do__card-title">
                                Оставляем культурное наследие
                            </h3>
                            <div class="about-we-do__card-text">
                                Сознание человека, его мировоззрение и ценности формирует память о наследии, которое
                                передается из поколения в поколение. Мы считаем, что к возрождению традиций детей
                                следует приучать с ранних лет.
                            </div>
                        </div>
                    </li>
                </ol>
                <div class="about-we-do__large-text">
                    <p>
                        Людям предстоит преодолеть долгий путь, чтобы страна стала социально ориентированной и смогла
                        обеспечить гражданам право на достойную жизнь.
                    </p>
                </div>
                <div class="about-we-do__small-text">
                    <p>
                        Фонд благотворительной помощи «Дети Земли Русской» уверен, что, объединив свои усилия, мы можем
                        спасти десятки жизней и внести особый вклад в решение многих задач. Ведь это так просто и
                        естественно – подавать руку помощи тому, кто в ней нуждается!
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="about-quote">
    <div class="container">
        <div class="about-quote__grid">
            <div class="about-quote__inner">
                <blockquote class="about-quote__card">
                    <div class="about-quote__card-text">
                        Никто не должен покидать своего ближнего, когда тот в беде. каждый обязан помочь и поддержать
                        своего ближнего, если хочет, чтобы ему самому помогли в несчастье.
                    </div>
                    <div class="about-quote__card-author">
                        Мартин Лютер
                    </div>
                </blockquote>
            </div>
        </div>
    </div>
</section>

<section class="team">
    <div class="container">
        <div class="team__grid">
            <div class="team__inner">
                <h2 class="team__heading">
                    НАША КОМАНДА
                </h2>
                <ul class="team__list">
                    <li class="team__list-item">
                        <div class="team__card">
                            <div class="team__card-image-container">
                                <img src="img/team/1.jpg" alt="" class="team__card-image">
                            </div>
                            <h3 class="team__card-title">
                                Ольга Владимировна
                            </h3>
                            <div class="team__card-role">
                                Директор
                            </div>
                            <div class="team__card-text">
                                Делаем всё во благо детей!
                            </div>
                            <ul class="team__card-social-list">
                                <li class="team__card-social-list-item">
                                    <a href="#" class="team__card-social-link">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-vk">
                                            <use xlink:href="#vk"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="team__card-social-list-item">
                                    <a href="#" class="team__card-social-link">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-whatsapp">
                                            <use xlink:href="#whatsapp"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="team__card-social-list-item">
                                    <a href="#" class="team__card-social-link">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-telegram">
                                            <use xlink:href="#telegram"></use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="team__list-item">
                        <div class="team__card">
                            <div class="team__card-image-container">
                                <img src="img/team/2.jpg" alt="" class="team__card-image">
                            </div>
                            <h3 class="team__card-title">
                               Кристина Кристина
                            </h3>
                            <div class="team__card-role">
                                Руководитель проектов
                            </div>
                            <div class="team__card-text">
                                Делаем всё во благо детей!
                            </div>
                            <ul class="team__card-social-list">
                                <li class="team__card-social-list-item">
                                    <a href="#" class="team__card-social-link">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-vk">
                                            <use xlink:href="#vk"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="team__card-social-list-item">
                                    <a href="#" class="team__card-social-link">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-whatsapp">
                                            <use xlink:href="#whatsapp"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="team__card-social-list-item">
                                    <a href="#" class="team__card-social-link">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-telegram">
                                            <use xlink:href="#telegram"></use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="team__list-item">
                        <div class="team__join">
                            <h3 class="team__join-title">
                                Хотите присоединиться к команде?
                            </h3>
                            <div class="team__join-text">
                                Заполните короткую форму с рассказом о себе и мы обязательно свяжемся с Вами!
                            </div>
                            <a href="#" class="btn btn--small team__join-btn">
                                Стать волонтером
                            </a>
                            <img src="img/team-bears.svg" alt="" class="team__join-image">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}