{{#extend "layout"}}
{{#content "main"}}


<section class="standard-header">
    <div class="container">
        <div class="standard-header__grid">
            <div class="standard-header__breadcrumbs">
                <a href="#">
                    Главная
                </a>
                <a href="#">
                    Наши программы
                </a>
            </div>
            <h1 class="standard-header__heading">
                Кому помочь
            </h1>
        </div>
    </div>
</section>


<section class="help">
    <div class="container">
        <div class="help__grid">
            <div class="help__inner">
                <div class="standard-nav help__nav">
                    <a href="#" class="standard-nav__link active">
                        Все города
                    </a>
                    <a href="#" class="standard-nav__link">
                        Санкт-Петербург и область
                    </a>
                    <a href="#" class="standard-nav__link">
                        Ставрополь
                    </a>
                </div>
                <ul class="help__list">
                    <li class="help__list-item">
                        <a href="#" class="help__card">
                            <div class="help__card-image-container">
                                <img src="img/help/1.jpg" alt="" class="help__card-image">
                            </div>
                            <div class="help__card-content">
                                <div class="help__card-city">
                                    Санкт-Петербург
                                </div>
                                <h2 class="help__card-title">
                                    СПБ ГБУ «Центр содействия семейному воспитанию № 6»
                                </h2>
                                <div class="help__card-text">
                                    <p>
                                        Дети, впервые переступающие порог нашего дома, напоминают цветок, у которого
                                        надломили корни, помяли листья и забывали поливать. Много требуется труда,
                                        тепла, ласки, чтобы эти цветы ожили.
                                    </p>
                                </div>
                                <div class="help__card-btn">
                                    Оказать помощь
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="help__list-item">
                        <a href="#" class="help__card">
                            <div class="help__card-image-container">
                                <img src="img/help/2.jpg" alt="" class="help__card-image">
                            </div>
                            <div class="help__card-content">
                                <div class="help__card-city">
                                    Санкт-Петербург
                                </div>
                                <h2 class="help__card-title">
                                    Санкт-Петербургское государственное бюджетное учреждение центр для детей-сирот и
                                    детей, оставшихся без попечения родителей «Центр содействия семейному воспитанию №
                                    9»
                                </h2>
                                <div class="help__card-text">
                                    <p>
                                        Дети, впервые переступающие порог нашего дома, напоминают цветок, у которого
                                        надломили корни, помяли листья и забывали поливать. Много требуется труда,
                                        тепла, ласки, чтобы эти цветы ожили.
                                    </p>
                                </div>
                                <div class="help__card-btn">
                                    Оказать помощь
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="help__list-item">
                        <a href="#" class="help__card">
                            <div class="help__card-image-container">
                                <img src="img/help/1.jpg" alt="" class="help__card-image">
                            </div>
                            <div class="help__card-content">
                                <div class="help__card-city">
                                    Санкт-Петербург
                                </div>
                                <h2 class="help__card-title">
                                    СПБ ГБУ «Центр содействия семейному воспитанию № 6»
                                </h2>
                                <div class="help__card-text">
                                    <p>
                                        Дети, впервые переступающие порог нашего дома, напоминают цветок, у которого
                                        надломили корни, помяли листья и забывали поливать. Много требуется труда,
                                        тепла, ласки, чтобы эти цветы ожили.
                                    </p>
                                </div>
                                <div class="help__card-btn">
                                    Оказать помощь
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>




{{/content}}
{{/extend}}