{{#extend "layout"}}
{{#content "main"}}


<section class="standard-header">
    <div class="container">
        <div class="standard-header__grid">
            <div class="standard-header__breadcrumbs">
                <a href="#">
                    Главная
                </a>
                <a href="#">
                    Новости
                </a>
            </div>
            <h1 class="standard-header__heading">
                Новости
            </h1>
        </div>
    </div>
</section>

<section class="news-catalog">
    <div class="container">
        <div class="news-catalog__grid">
            <div class="news-catalog__inner">
                <a href="#" class="news-catalog__selected-card">
                    <div class="news-catalog__selected-card-content">
                        <div class="news-catalog__selected-card-date">
                            05 августа 2022
                        </div>
                        <h3 class="news-catalog__selected-card-title">
                            Спасибо за июль!
                        </h3>
                        <div class="news-catalog__selected-card-text">
                            Друзья, с радостью и благодарностью мы говорим спасибо всем, кто помогал нам в июле 2022
                            года.
                        </div>
                        <div class="news-catalog__selected-card-btn">
                            Читать подробнее
                        </div>
                    </div>
                    <div class="news-catalog__selected-card-image-container">
                        <img src="img/news-catalog/1.jpg" alt="" class="news-catalog__selected-card-image">
                    </div>
                </a>
                <ul class="news-catalog__list">
                    <li class="news-catalog__list-item">
                        <a href="#" class="news-card">
                            <div class="news-card__image-container">
                                <img data-src="img/news-catalog/2.jpg" alt="" class="news-card__image lazyload">
                                <div class="news-card__tags">
                                    <div class="news-card__tag">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-soon">
                                            <use xlink:href="#soon"></use>
                                        </svg>
                                        СКОРО
                                    </div>
                                </div>
                            </div>
                            <div class="news-card__content">
                                <div class="news-card__date">
                                    21 июня 2022
                                </div>
                                <h3 class="news-card__title">
                                    Сдать кровь в выходные июля
                                </h3>
                                <div class="news-card__text">
                                    Дорогие доноры, в июле вас традиционно ждут в трех отделениях переливания крови:
                                    МосОблСПК, ГКБ № 52 и Центре Бакулева.
                                </div>
                                <div class="news-card__btn">
                                    Читать подробнее
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="news-catalog__list-item">
                        <a href="#" class="news-card">
                            <div class="news-card__image-container">
                                <img data-src="img/news-catalog/3.jpg" alt="" class="news-card__image lazyload">

                            </div>
                            <div class="news-card__content">
                                <div class="news-card__date">
                                    21 июня 2022
                                </div>
                                <h3 class="news-card__title">
                                    СтОит помогАть: «Уроки добра» - 2022
                                </h3>
                                <div class="news-card__text">
                                    Дорогие доноры, в июле вас традиционно ждут в трех отделениях переливания крови:
                                    МосОблСПК, ГКБ № 52 и Центре Бакулева.
                                </div>
                                <div class="news-card__btn">
                                    Читать подробнее
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="news-catalog__list-item">
                        <a href="#" class="news-card">
                            <div class="news-card__image-container">
                                <img data-src="img/news-catalog/4.jpg" alt="" class="news-card__image lazyload">

                            </div>
                            <div class="news-card__content">
                                <div class="news-card__date">
                                    21 июня 2022
                                </div>
                                <h3 class="news-card__title">
                                    Футбол помогает
                                </h3>
                                <div class="news-card__text">
                                    Дорогие доноры, в июле вас традиционно ждут в трех отделениях переливания крови:
                                    МосОблСПК, ГКБ № 52 и Центре Бакулева.
                                </div>
                                <div class="news-card__btn">
                                    Читать подробнее
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="news-catalog__list-item">
                        <a href="#" class="news-card">
                            <div class="news-card__image-container">
                                <img data-src="img/news-catalog/5.jpg" alt="" class="news-card__image lazyload">
                                <div class="news-card__tags">
                                    <div class="news-card__tag">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-soon">
                                            <use xlink:href="#soon"></use>
                                        </svg>
                                        СКОРО
                                    </div>
                                </div>
                            </div>
                            <div class="news-card__content">
                                <div class="news-card__date">
                                    21 июня 2022
                                </div>
                                <h3 class="news-card__title">
                                    Отчет за июнь
                                </h3>
                                <div class="news-card__text">
                                    Дорогие доноры, в июле вас традиционно ждут в трех отделениях переливания крови:
                                    МосОблСПК, ГКБ № 52 и Центре Бакулева.
                                </div>
                                <div class="news-card__btn">
                                    Читать подробнее
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="news-catalog__list-item">
                        <a href="#" class="news-card">
                            <div class="news-card__image-container">
                                <img data-src="img/news-catalog/6.jpg" alt="" class="news-card__image lazyload">

                            </div>
                            <div class="news-card__content">
                                <div class="news-card__date">
                                    21 июня 2022
                                </div>
                                <h3 class="news-card__title">
                                    Спасибо за июнь
                                </h3>
                                <div class="news-card__text">
                                    Дорогие доноры, в июле вас традиционно ждут в трех отделениях переливания крови:
                                    МосОблСПК, ГКБ № 52 и Центре Бакулева.
                                </div>
                                <div class="news-card__btn">
                                    Читать подробнее
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="news-catalog__list-item">
                        <a href="#" class="news-card">
                            <div class="news-card__image-container">
                                <img data-src="img/news-catalog/7.jpg" alt="" class="news-card__image lazyload">

                            </div>
                            <div class="news-card__content">
                                <div class="news-card__date">
                                    21 июня 2022
                                </div>
                                <h3 class="news-card__title">
                                    Отчет за май
                                </h3>
                                <div class="news-card__text">
                                    Дорогие доноры, в июле вас традиционно ждут в трех отделениях переливания крови:
                                    МосОблСПК, ГКБ № 52 и Центре Бакулева.
                                </div>
                                <div class="news-card__btn">
                                    Читать подробнее
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="news-catalog__list-item">
                        <a href="#" class="news-card">
                            <div class="news-card__image-container">
                                <img data-src="img/news-catalog/8.jpg" alt="" class="news-card__image lazyload">

                            </div>
                            <div class="news-card__content">
                                <div class="news-card__date">
                                    21 июня 2022
                                </div>
                                <h3 class="news-card__title">
                                    Благотворительный день на катке ВДНХ
                                </h3>
                                <div class="news-card__text">
                                    Восьмой благотворительный день на катке ВДНХ
                                </div>
                                <div class="news-card__btn">
                                    Читать подробнее
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="news-catalog__list-item">
                        <a href="#" class="news-card">
                            <div class="news-card__image-container">
                                <img data-src="img/news-catalog/9.jpg" alt="" class="news-card__image lazyload">

                            </div>
                            <div class="news-card__content">
                                <div class="news-card__date">
                                    21 июня 2022
                                </div>
                                <h3 class="news-card__title">
                                    Сдать кровь в выходные июля
                                </h3>
                                <div class="news-card__text">
                                    Дорогие доноры, в июле вас традиционно ждут в трех отделениях переливания крови:
                                    МосОблСПК, ГКБ № 52 и Центре Бакулева.
                                </div>
                                <div class="news-card__btn">
                                    Читать подробнее
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="news-catalog__list-item">
                        <a href="#" class="news-card">
                            <div class="news-card__image-container">
                                <img data-src="img/news-catalog/10.jpg" alt="" class="news-card__image lazyload">

                            </div>
                            <div class="news-card__content">
                                <div class="news-card__date">
                                    21 июня 2022
                                </div>
                                <h3 class="news-card__title">
                                    Спасибо за ноябрь
                                </h3>
                                <div class="news-card__text">
                                    Дорогие доноры, в июле вас традиционно ждут в трех отделениях переливания крови:
                                    МосОблСПК, ГКБ № 52 и Центре Бакулева.
                                </div>
                                <div class="news-card__btn">
                                    Читать подробнее
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
                <div class="standard-pagination news-catalog__pagination">
                    <ul class="standard-pagination__list">
                        <li class="standard-pagination__list-item">
                            <a href="#" class="standard-pagination__link active">
                                1
                            </a>
                        </li>
                        <li class="standard-pagination__list-item">
                            <a href="#" class="standard-pagination__link">
                                2
                            </a>
                        </li>
                        <li class="standard-pagination__list-item">
                            <a href="#" class="standard-pagination__link">
                                3
                            </a>
                        </li>
                        <li class="standard-pagination__list-item">
                            <a href="#" class="standard-pagination__link">
                                4
                            </a>
                        </li>
                        <li class="standard-pagination__list-item">
                            <a href="#" class="standard-pagination__link">
                                5
                            </a>
                        </li>
                    </ul>
                    <a href="#" class="standard-pagination__arrow">
                        <span class="standard-pagination__arrow-text">
                            Дальше
                        </span>

                        <svg width="14" height="14" aria-hidden="true" class="icon-pagination-next">
                            <use xlink:href="#pagination-next"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>





{{/content}}
{{/extend}}