{{#extend "layout"}}
{{#content "main"}}


<section class="standard-header">
    <div class="container">
        <div class="standard-header__grid">
            <div class="standard-header__breadcrumbs">
                <a href="#">
                    Главная
                </a>
                <a href="#">
                    Новости
                </a>
            </div>
            <h1 class="standard-header__heading">
                Отчет за июнь
            </h1>
        </div>
    </div>
</section>

<section class="news-single">
    <div class="container">
        <div class="news-single__grid">
            <div class="news-single__inner">
                <div class="news-single__main">
                    <img src="img/news-single-preview.jpg" alt="" class="news-single__preview-image">
                    <div class="news-single__content">
                        <h2>
                            Адресная помощь
                        </h2>
                        <p>
                            Одна из тех, кому мы вместе с вами помогли в июне, четырехлетняя Ксюша. Когда девочке было
                            два года, родители заметили у нее косоглазие. Ксюша наблюдалась у офтальмолога, а после
                            того, как в феврале 2022 появилась асимметрия лица – правый уголок рта стал запаздывать во
                            время улыбки, – девочку показали неврологу.
                        </p>
                        <ul>
                            <li>
                                приняли 43 новых подопечных;
                            </li>
                            <li>
                                оплатили контрольные обследования, консультации специалистов и
                                молекулярно-генетические
                                исследования для 86 детей и молодых взрослых;
                            </li>
                            <li>
                                оплатили лечение 22 подопечных;
                            </li>
                            <li>
                                осуществили закупку лекарственных препаратов, расходных материалов и медицинского
                                оборудования для 37 детей и молодых взрослых;
                            </li>
                            <li>
                                благодаря участникам программы Alfa-Miles оформили 62 билета для 22 подопечных с
                                сопровождающими.
                            </li>
                        </ul>
                        <p>
                            Традиционно с логистикой в июне нашим подопечным помогали участники программы Alfa-Miles,
                            которые расходуют накопленные мили не только на собственные поездки, но и на
                            благотворительность. 22 ребенка с сопровождающими смогли совершить 31 поездку для
                            прохождения лечения, обследований, реабилитации и вернуться домой.
                        </p>
                        <p>
                            Во время последнего курса, который мы оплатили вместе с вами, Мариям научилась в два раза
                            дольше удерживать равновесие, стоя на двух ногах. Раньше она могла стоять только в течение 5
                            минут, а сейчас – в течение 10. Кроме того, девочка научилась самостоятельно находить баланс
                            при отклонении тела вперед или назад и ставить стопы ближе друг к другу. Многие наши
                            подопечные из-за проблем с равновесием удерживаются за счет более широкой расстановки ноги.
                            Поэтому одна из распространенных задач во время реабилитации, которая стояла и перед Мариям,
                            заключается в том, чтобы сократить расстояние между стопами. Все это кажется очень простыми
                            действиями, но для наших подопечных они стоят большого труда. Поэтому поддержка на этапе
                            реабилитации не менее важна, чем во время лечения.
                        </p>
                        <p>
                            Во время последнего курса, который мы оплатили вместе с вами, Мариям научилась в два раза
                            дольше удерживать равновесие, стоя на двух ногах. Раньше она могла стоять только в течение 5
                            минут, а сейчас – в течение 10. Кроме того, девочка научилась самостоятельно находить баланс
                            при отклонении тела вперед или назад и ставить стопы ближе друг к другу. Многие наши
                            подопечные из-за проблем с равновесием удерживаются за счет более широкой расстановки ноги.
                            Поэтому одна из распространенных задач во время реабилитации, которая стояла и перед Мариям,
                            заключается в том, чтобы сократить расстояние между стопами. Все это кажется очень простыми
                            действиями, но для наших подопечных они стоят большого труда. Поэтому поддержка на этапе
                            реабилитации не менее важна, чем во время лечения.
                        </p>
                    </div>
                    <div class="news-single__gratitude">
                        <div class="news-single__gratitude-text">
                            <p>
                                Спасибо каждому, кто поддерживал нас в июне!


                            </p>
                            <p>
                                Все эти результаты стали возможными только благодаря вам.
                            </p>
                        </div>
                        <div class="news-single__gratitude-author">
                            С уважением, команда фонда ДЗР...
                        </div>
                    </div>
                </div>
                <div class="news-single__sidebar">
                    <div class="news-single__other-news">
                        <h3 class="news-single__other-news-heading">
                            Похожие статьи
                        </h3>
                        <div class="news-single__other-news-slider js-other-news-slider">
                            <div class="swiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <a href="#" class="news-card">
                                            <div class="news-card__image-container">
                                                <img data-src="img/news-catalog/4.jpg" alt=""
                                                    class="news-card__image lazyload">

                                            </div>
                                            <div class="news-card__content">
                                                <div class="news-card__date">
                                                    21 июня 2022
                                                </div>
                                                <h3 class="news-card__title">
                                                    Футбол помогает
                                                </h3>
                                                <div class="news-card__text">
                                                    Дорогие доноры, в июле вас традиционно ждут в трех отделениях
                                                    переливания
                                                    крови:
                                                    МосОблСПК, ГКБ № 52 и Центре Бакулева.
                                                </div>
                                                <div class="news-card__btn">
                                                    Читать подробнее
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="#" class="news-card">
                                            <div class="news-card__image-container">
                                                <img data-src="img/news-catalog/7.jpg" alt=""
                                                    class="news-card__image lazyload">

                                            </div>
                                            <div class="news-card__content">
                                                <div class="news-card__date">
                                                    21 июня 2022
                                                </div>
                                                <h3 class="news-card__title">
                                                    Отчет за май
                                                </h3>
                                                <div class="news-card__text">
                                                    Дорогие доноры, в июле вас традиционно ждут в трех отделениях
                                                    переливания
                                                    крови:
                                                    МосОблСПК, ГКБ № 52 и Центре Бакулева.
                                                </div>
                                                <div class="news-card__btn">
                                                    Читать подробнее
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="#" class="news-card">
                                            <div class="news-card__image-container">
                                                <img data-src="img/news-catalog/9.jpg" alt=""
                                                    class="news-card__image lazyload">

                                            </div>
                                            <div class="news-card__content">
                                                <div class="news-card__date">
                                                    21 июня 2022
                                                </div>
                                                <h3 class="news-card__title">
                                                    Сдать кровь в выходные июля
                                                </h3>
                                                <div class="news-card__text">
                                                    Дорогие доноры, в июле вас традиционно ждут в трех отделениях
                                                    переливания
                                                    крови:
                                                    МосОблСПК, ГКБ № 52 и Центре Бакулева.
                                                </div>
                                                <div class="news-card__btn">
                                                    Читать подробнее
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





{{/content}}
{{/extend}}