{{#extend "layout"}}
{{#content "main"}}


<section class="standard-header">
    <div class="container">
        <div class="standard-header__grid">
            <div class="standard-header__breadcrumbs">
                <a href="#">
                    Главная
                </a>
                <a href="#">
                    Ярмарка добра
                </a>
            </div>
            <h1 class="standard-header__heading standard-header__heading--with-heart">
                Ярмарка добра
            </h1>
        </div>
    </div>
</section>


<section class="products-catalog">
    <div class="container">
        <div class="products-catalog__grid">
            <div class="products-catalog__inner">
                <div class="products-catalog__top-row">


                    <div class="standard-nav products-catalog__nav">
                        <a href="#" class="standard-nav__link active">
                            Все товары
                        </a>
                        <a href="#" class="standard-nav__link">
                            Сделали дети
                        </a>
                        <a href="#" class="standard-nav__link">
                            Продукция фонда
                        </a>
                    </div>

                    <form action="/" method="GET" class="products-catalog__filters">
                        <div class="products-catalog__filters-select">
                            <div class="products-catalog__filters-select-wrapper">
                                <select name="type" class="js-custom-select">
                                    <option value="1">Все товары</option>
                                    <option value="2">Категория 1</option>
                                    <option value="3">Категория 2</option>
                                </select>
                            </div>

                        </div>
                        <div class="products-catalog__filters-select">
                            <svg width="14" height="14" aria-hidden="true" class="icon-download">
                                <use xlink:href="#sort"></use>
                            </svg>

                            <div class="products-catalog__filters-select-wrapper">

                                <select name="sort" class="js-custom-select">
                                    <option value="1">Цена по возрастанию</option>
                                    <option value="2">Цена по убыванию</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <ul class="products-catalog__list">
                    <li class="products-catalog__list-item">
                        <a href="#" class="products__slider-card">
                            <div class="products__slider-card-image-container">
                                <img data-src="img/products/1.jpg" alt="" class="products__slider-card-image lazyload">
                            </div>
                            <div class="products__slider-card-content">


                                <h4 class="products__slider-card-title">
                                    Ловец снов Золотое Солнце
                                </h4>
                                <div class="products__slider-card-text">
                                    Изящный оберег, который украсит ваш дом и обережет его внутреннюю
                                    энергию
                                </div>
                                <div class="products__slider-card-bottom-row">
                                    <div class="products__slider-card-price">
                                        1000 ₽
                                    </div>
                                    <div class="products__slider-card-buy">
                                        Купить
                                    </div>
                                </div>
                            </div>

                        </a>
                    </li>
                    <li class="products-catalog__list-item">
                        <a href="#" class="products__slider-card">
                            <div class="products__slider-card-image-container">
                                <img data-src="img/products/2.jpg" alt="" class="products__slider-card-image lazyload">
                            </div>
                            <div class="products__slider-card-content">


                                <h4 class="products__slider-card-title">
                                    Ловец снов Золотое Солнце
                                </h4>
                                <div class="products__slider-card-text">
                                    Изящный оберег, который украсит ваш дом и обережет его внутреннюю
                                    энергию
                                </div>


                                <div class="products__slider-card-bottom-row">
                                    <div class="products__slider-card-price">
                                        800 ₽
                                    </div>
                                    <div class="products__slider-card-buy">
                                        Купить
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="products-catalog__list-item">
                        <a href="#" class="products__slider-card">
                            <div class="products__slider-card-image-container">
                                <img data-src="img/products/3.jpg" alt="" class="products__slider-card-image lazyload">
                            </div>
                            <div class="products__slider-card-content">


                                <h4 class="products__slider-card-title">
                                    Ловец снов Золотое Солнце
                                </h4>
                                <div class="products__slider-card-text">
                                    Изящный оберег, который украсит ваш дом и обережет его внутреннюю
                                    энергию
                                </div>
                                <div class="products__slider-card-bottom-row">
                                    <div class="products__slider-card-price">
                                        800 ₽
                                    </div>
                                    <div class="products__slider-card-buy">
                                        Купить
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="products-catalog__list-item">
                        <a href="#" class="products__slider-card">
                            <div class="products__slider-card-image-container">
                                <img data-src="img/products/4.jpg" alt="" class="products__slider-card-image lazyload">
                            </div>
                            <div class="products__slider-card-content">


                                <h4 class="products__slider-card-title">
                                    Ловец снов Золотое Солнце
                                </h4>
                                <div class="products__slider-card-text">
                                    Изящный оберег, который украсит ваш дом и обережет его внутреннюю
                                    энергию
                                </div>
                                <div class="products__slider-card-bottom-row">
                                    <div class="products__slider-card-price">
                                        1200 ₽
                                    </div>
                                    <div class="products__slider-card-buy">
                                        Купить
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="products-catalog__list-item">
                        <a href="#" class="products__slider-card">
                            <div class="products__slider-card-image-container">
                                <img data-src="img/products/5.jpg" alt="" class="products__slider-card-image lazyload">
                            </div>
                            <div class="products__slider-card-content">


                                <h4 class="products__slider-card-title">
                                    Ловец снов Золотое Солнце
                                </h4>
                                <div class="products__slider-card-text">
                                    Изящный оберег, который украсит ваш дом и обережет его внутреннюю энергию
                                </div>
                                <div class="products__slider-card-bottom-row">
                                    <div class="products__slider-card-price">
                                        1000 ₽
                                    </div>
                                    <div class="products__slider-card-buy">
                                        Купить
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="products-catalog__list-item">
                        <a href="#" class="products__slider-card">
                            <div class="products__slider-card-image-container">
                                <img data-src="img/products/6.jpg" alt="" class="products__slider-card-image lazyload">
                            </div>
                            <div class="products__slider-card-content">


                                <h4 class="products__slider-card-title">
                                    Ловец снов Золотое Солнце
                                </h4>
                                <div class="products__slider-card-text">
                                    Изящный оберег, который украсит ваш дом и обережет его внутреннюю энергию
                                </div>
                                <div class="products__slider-card-bottom-row">
                                    <div class="products__slider-card-price">
                                        800 ₽
                                    </div>
                                    <div class="products__slider-card-buy">
                                        Купить
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="products-catalog__list-item">
                        <a href="#" class="products__slider-card">
                            <div class="products__slider-card-image-container">
                                <img data-src="img/products/7.jpg" alt="" class="products__slider-card-image lazyload">
                            </div>
                            <div class="products__slider-card-content">


                                <h4 class="products__slider-card-title">
                                    Ловец снов Золотое Солнце
                                </h4>
                                <div class="products__slider-card-text">
                                    Изящный оберег, который украсит ваш дом и обережет его внутреннюю энергию
                                </div>
                                <div class="products__slider-card-bottom-row">
                                    <div class="products__slider-card-price">
                                        800 ₽
                                    </div>
                                    <div class="products__slider-card-buy">
                                        Купить
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="products-catalog__list-item">
                        <a href="#" class="products__slider-card">
                            <div class="products__slider-card-image-container">
                                <img data-src="img/products/8.jpg" alt="" class="products__slider-card-image lazyload">
                            </div>
                            <div class="products__slider-card-content">


                                <h4 class="products__slider-card-title">
                                    Ловец снов Золотое Солнце
                                </h4>
                                <div class="products__slider-card-text">
                                    Изящный оберег, который украсит ваш дом и обережет его внутреннюю энергию
                                </div>
                                <div class="products__slider-card-bottom-row">
                                    <div class="products__slider-card-price">
                                        1200 ₽
                                    </div>
                                    <div class="products__slider-card-buy">
                                        Купить
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="products-catalog__list-item">
                        <a href="#" class="products__slider-card">
                            <div class="products__slider-card-image-container">
                                <img data-src="img/products/9.jpg" alt="" class="products__slider-card-image lazyload">
                            </div>
                            <div class="products__slider-card-content">


                                <h4 class="products__slider-card-title">
                                    Ловец снов Золотое Солнце
                                </h4>
                                <div class="products__slider-card-text">
                                    Изящный оберег, который украсит ваш дом и обережет его внутреннюю энергию
                                </div>
                                <div class="products__slider-card-bottom-row">
                                    <div class="products__slider-card-price">
                                        1000 ₽
                                    </div>
                                    <div class="products__slider-card-buy">
                                        Купить
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="products-catalog__list-item">
                        <a href="#" class="products__slider-card">
                            <div class="products__slider-card-image-container">
                                <img data-src="img/products/10.jpg" alt="" class="products__slider-card-image lazyload">
                            </div>
                            <div class="products__slider-card-content">


                                <h4 class="products__slider-card-title">
                                    Ловец снов Золотое Солнце
                                </h4>
                                <div class="products__slider-card-text">
                                    Изящный оберег, который украсит ваш дом и обережет его внутреннюю энергию
                                </div>
                                <div class="products__slider-card-bottom-row">
                                    <div class="products__slider-card-price">
                                        800 ₽
                                    </div>
                                    <div class="products__slider-card-buy">
                                        Купить
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="products-catalog__list-item">
                        <a href="#" class="products__slider-card">
                            <div class="products__slider-card-image-container">
                                <img data-src="img/products/11.jpg" alt="" class="products__slider-card-image lazyload">
                            </div>
                            <div class="products__slider-card-content">


                                <h4 class="products__slider-card-title">
                                    Ловец снов Золотое Солнце
                                </h4>
                                <div class="products__slider-card-text">
                                    Изящный оберег, который украсит ваш дом и обережет его внутреннюю энергию
                                </div>
                                <div class="products__slider-card-bottom-row">
                                    <div class="products__slider-card-price">
                                        800 ₽
                                    </div>
                                    <div class="products__slider-card-buy">
                                        Купить
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="products-catalog__list-item">
                        <a href="#" class="products__slider-card">
                            <div class="products__slider-card-image-container">
                                <img data-src="img/products/12.jpg" alt="" class="products__slider-card-image lazyload">
                            </div>
                            <div class="products__slider-card-content">


                                <h4 class="products__slider-card-title">
                                    Ловец снов Золотое Солнце
                                </h4>
                                <div class="products__slider-card-text">
                                    Изящный оберег, который украсит ваш дом и обережет его внутреннюю энергию
                                </div>
                                <div class="products__slider-card-bottom-row">
                                    <div class="products__slider-card-price">
                                        1200 ₽
                                    </div>
                                    <div class="products__slider-card-buy">
                                        Купить
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
                <div class="standard-pagination products-catalog__pagination">
                    <ul class="standard-pagination__list">
                        <li class="standard-pagination__list-item">
                            <a href="#" class="standard-pagination__link active">
                                1
                            </a>
                        </li>
                        <li class="standard-pagination__list-item">
                            <a href="#" class="standard-pagination__link">
                                2
                            </a>
                        </li>
                        <li class="standard-pagination__list-item">
                            <a href="#" class="standard-pagination__link">
                                3
                            </a>
                        </li>
                        <li class="standard-pagination__list-item">
                            <a href="#" class="standard-pagination__link">
                                4
                            </a>
                        </li>
                        <li class="standard-pagination__list-item">
                            <a href="#" class="standard-pagination__link">
                                5
                            </a>
                        </li>
                    </ul>
                    <a href="#" class="standard-pagination__arrow">
                        <span class="standard-pagination__arrow-text">
                            Дальше
                        </span>

                        <svg width="14" height="14" aria-hidden="true" class="icon-pagination-next">
                            <use xlink:href="#pagination-next"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>




{{/content}}
{{/extend}}