{{#extend "layout"}}
{{#content "main"}}


<section class="standard-header">
    <div class="container">
        <div class="standard-header__grid">
            <div class="standard-header__breadcrumbs">
                <a href="#">
                    Главная
                </a>
                <a href="#">
                    Наши программы
                </a>
            </div>
            <h1 class="standard-header__heading">
                НАШИ ПРОГРАММЫ
            </h1>
        </div>
    </div>
</section>


<section class="our-programs">
    <div class="container">
        <div class="our-programs__grid">
            <div class="our-programs__inner">
                <ul class="our-programs__list">
                    <li class="our-programs__list-item">
                        <div class="our-programs__card our-programs__card--peach">
                            <h2 class="our-programs__card-title">
                                Развитие
                            </h2>
                            <div class="our-programs__card-icon">
                                <img src="img/our-programs/1.svg" alt="" class="our-programs__card-icon-image">
                            </div>
                            <div class="our-programs__card-text">
                                Знакомим детей с различными профессиями, с помощью культурных мероприятий
                            </div>
                        </div>
                    </li>
                    <li class="our-programs__list-item">
                        <div class="our-programs__card our-programs__card--blue">
                            <h2 class="our-programs__card-title">
                                Наставничество
                            </h2>
                            <div class="our-programs__card-icon">
                                <img src="img/our-programs/2.svg" alt="" class="our-programs__card-icon-image">
                            </div>
                            <div class="our-programs__card-text">
                                Помогаем выпускникам детских домов освоить профессию и получить работу
                            </div>
                        </div>
                    </li>
                    <li class="our-programs__list-item">
                        <div class="our-programs__card our-programs__card--dark-blue">
                            <h2 class="our-programs__card-title">
                                Юридическая поддержка
                            </h2>
                            <div class="our-programs__card-icon">
                                <img src="img/our-programs/3.svg" alt="" class="our-programs__card-icon-image">
                            </div>
                            <div class="our-programs__card-text">
                                Оказываем юридическое сопровождение выпускникам ДД
                            </div>
                        </div>
                    </li>
                    <li class="our-programs__list-item">
                        <div class="our-programs__card our-programs__card--purple">
                            <h2 class="our-programs__card-title">
                                Спорт
                            </h2>
                            <div class="our-programs__card-icon">
                                <img src="img/our-programs/4.svg" alt="" class="our-programs__card-icon-image">
                            </div>
                            <div class="our-programs__card-text">
                                Программа для приобщения детей к спорту, здоровому образу жизни
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>


{{/content}}
{{/extend}}