.team {
    padding-top: 7rem;
    padding-bottom: 12rem;

    @include breakpoint(mobile) {
        padding: 3rem 0;
    }
}

.team__grid {
    @include breakpointMF(small-tablet) {
        display: grid;
        grid-template-columns: repeat(16, minmax(0, 1fr));
        grid-gap: 2.4rem;
    }
}

.team__inner {
    display: flex;
    flex-direction: column;
    @include breakpointMF(small-tablet) {
        grid-column: 3 / 15;
    }
}

.team__heading {
    font-style: normal;
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 6.4rem;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    font-family: var(--philosopher);
    white-space: nowrap;
    position: relative;
    z-index: 1;
    margin-bottom: 7rem;
    align-self: flex-start;

    @include breakpoint(mobile) {
        font-size: 3.2rem;
        line-height: 1.2;
        align-items: flex-start;
        margin-bottom: 3.5rem;
    }

    &::before {
        content: '';
        height: 2rem;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        background-size: 100% 100%;
        background-image: url('../img/news-heading-underline.svg');
        background-repeat: no-repeat;
        background-position: center;
        z-index: -1;
        pointer-events: none;
        user-select: none;

        @include breakpoint(mobile) {
            height: 1.5rem;
        }
    }


    .new-year & {
        &::before {
            background-image: url('../img/news-heading-underline-blue.svg');
        }
    }
}

.team__list {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 2.4rem;

    @include breakpoint(mobile) {
        grid-template-columns: minmax(0, 1fr);
        grid-gap: 3rem;
    }
}

.team__list-item {
    display: flex;
    flex-direction: column;
}

.team__card {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    
}

.team__card-image-container {
    position: relative;
    border-radius: 2rem;
    overflow: hidden;
    backface-visibility: hidden;
    transform: translateZ(0);
    margin-bottom: 3rem;

    @include breakpoint(mobile) {
        margin-bottom: 1.5rem;
    }
    &::before {
        content: '';
        display: block;
        padding-bottom: 60%;
    }
}

.team__card-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.team__card-title {
    font-style: normal;
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 3.2rem;
    margin-bottom: 1.5rem;

    @include breakpoint(mobile) {
        font-size: 2.4rem;
        line-height: 1.2;
        margin-bottom: .6rem;
    }
}

.team__card-role {
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: #939393;
    margin-bottom: 1.5rem;

    @include breakpoint(mobile) {
        font-size: 1.4rem;
        line-height: 1.2;
        margin-bottom: .6rem;
    }
}

.team__card-text {
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin-bottom: 2.5rem;

    @include breakpoint(mobile) {
        font-size: 1.4rem;
        line-height: 1.2;
        margin-bottom: 1.5rem;
    }
}

.team__card-social-list {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;

    @include breakpoint(mobile) {
        gap: 1rem;
    }
}

.team__card-social-link {
    width: 4.8rem;
    height: 4.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #f1f1f1;
    border-radius: 50%;
    transition: background-color .2s;

    @include breakpoint(mobile) {
        width: 3.6rem;
        height: 3.6rem;
    }
    svg {
        width: 2.4rem;
        height: 2.4rem;
        transition: fill 0.2s;
        fill: #304250;

        @include breakpoint(mobile) {
            width: 1.8rem;
            height: 1.8rem;
        }
    }

    &:hover {
        background: var(--primary-color);

        svg {
            fill: white;
        }
    }
}

.team__join {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background: #f1f1f1;
    border-radius: 2rem;
    padding: 4rem;
    position: relative;
    z-index: 1;
    padding-bottom: 20rem;

    @include breakpoint(mobile) {
        padding: 2rem;
        padding-bottom: 15rem;
    }
   
}

.team__join-image {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 25rem;
    height: auto;
    bottom: 0;

    @include breakpoint(mobile) {
        width: 18rem;
    }
    
}

.team__join-title {
    font-style: normal;
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 4rem;
    font-family: var(--philosopher);
    margin-bottom: 3rem;

    @include breakpoint(mobile) {
        font-size: 2.4rem;
        line-height: 1;
        margin-bottom: 1.5rem;
    }
}

.team__join-text {
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.8rem;
    margin-bottom: 3rem;

    @include breakpoint(mobile) {
        font-size: 1.4rem;
        line-height: 1.2;
        margin-bottom: 2rem;
    }
}

.team__join-btn {
    align-self: flex-start;
}